[user]
	email = bartosz@slawecki.dev
	name = johnslavik
	signingkey = ~/.ssh/id_ed25519.pub

[core]
	excludesfile = ~/.gitignore_global
	editor = hx
	pager = delta

[merge]
	conflictStyle = zdiff3

[rebase]
	autostash = true
	autosquash = true

[help]
	autocorrect = 20

[interactive]
	difffilter = delta --color-only

[delta]
	navigate = true

[includeIf "gitdir:~/Codezarre/"]
	path = "~/.gitconfig_codezarre"

[includeIf "gitdir:~/Printbox/"]
	path = "~/.gitconfig_printbox"

[includeIf "gitdir:~/Python/"]
	path = "~/.gitconfig_python"

[includeIf "gitdir:~/Rustmeet/"]
	path = "~/.gitconfig_rust"

[includeIf "gitdir:~/ScaffOps/"]
	path = "~/.gitconfig_rust"

[includeIf "gitdir:~/Wecamo/"]
	path = "~/.gitconfig_wecamo" 

[includeIf "gitdir:~/HAI/"]
	path = "~/.gitconfig_hai"

[includeIf "gitdir:~/Anoptyk/"]
	path = "~/.gitconfig_anoptyk"

[includeIf "gitdir:~/NeverBlink/"]
	path = "~/.gitconfig_neverblink"

[commit]
	gpgSign = true

[gpg]
	format = ssh

[push]
	default = current
	autosetupremote = true

[rerere]
	enabled = true

[init]
	defaultbranch = main

[alias]
	tree = log --graph --decorate --pretty=oneline --abbrev-commit

[maintenance]
	repo = ~/Python/cpython
	repo = ~/Apache/airflow

[submodule]
	recurse = true
