[package]
disabled = true

[aws]
disabled = true

[buf]
disabled = true

[docker_context]
disabled = true

[python]
symbol = "~ "
format = "[($symbol$virtualenv )]($style)"

[c]
disabled = true

[nodejs]
disabled = true

[git_status]
disabled = true
